@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-12">
        <h2>Evolent Health</h2>
        
            The rising cost of health care is unsustainable, and we believe every patient deserves higher quality care at lower costs. We build financially aligned partnerships with providers and health plans committed to giving their communities more value for the health care dollar. We have the experience to drive the transformation required as we pursue a singular mission: To Change The Health Of The Nation
            By Changing The Way Health Care Is Delivered
        
        <h2> Click on Contacts on Nav Bar to see All Contacts</h2>
    </div>
   
</div>